.map-print {
    transition: height 0.3s;
    left: calc(50vw - 180px);
    bottom: 0;
    height: 0 !important;
    position: absolute !important;
    width: 360px;
    z-index: 1000;
    overflow: hidden;
}

.map-print .map-print-content {
    bottom: -134px;
    opacity: 0;
    width: 100%;
    padding: 1.5rem;
}

.map-print .map-print-content .invalid-feedback,
.map-print .map-print-content .valid-feedback {
    position: absolute;
    margin: 0;
}

.map-print.open {
    height: 134px !important;
}

.map-print.open .map-print-content {
    bottom: 0;
    opacity: 1;
}

.map-print > button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    height: 24px;
    width: 24px;
    z-index: 1001;
}
