.map-print {
    transition: height 0.3s;
    left: calc(50vw - 200px);
    bottom: 0;
    height: 0 !important;
    position: absolute !important;
    width: 400px;
    z-index: 1000;
}

.map-print .map-print-content {
    bottom: -56px;
    opacity: 0;
    width: 100%;
    padding: 1rem;
}

.map-print.open {
    height: 56px !important;
}

.map-print.open .map-print-content {
    bottom: 0;
    opacity: 1;
}

.map-print > button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    height: 36px;
    width: 36px;
    z-index: 1001;
}
