.more-details-window {
    max-width: 1200px;
    width: 90vw;
    max-height: 90vh;
    margin: auto;
}

.more-details-window .modal-content {
    max-height: 90vh;
    max-width: 90vw;
}

.more-details-window .table-responsive {
    max-height: calc(90vh - 150px - 2rem);
}
