/* Map */
.map-view {
    width: 100vw;
    height: 100vh;
}

/* Map zoom */
.map-view .ol-zoom {
    top: unset;
    left: unset;
    right: 0.5rem;
    bottom: 1.8rem;
}

.map-view .ol-zoom button {
    height: 2rem;
    width: 2rem;
    font-size: 1.25rem;
    line-height: 1rem;
    font-weight: bold;
}

/* Map overview */
.map-view .ol-overviewmap {
    top: unset;
    left: unset;
    right: 3.1rem;
    bottom: 1.8rem;
}

.map-view .ol-overviewmap button {
    display: none;
}

.map-view .ol-overlay-container .ol-overviewmap-box {
    border: 1px solid black;
}
