.sidebar-base-layers label {
    text-transform: capitalize;
    user-select: none;
    cursor: pointer;
}

.sidebar-base-layers .sidebar-base-layers-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

.sidebar-base-layers .sidebar-base-layers-row .form-check {
    padding-left: 0;
}

.sidebar-base-layers .sidebar-base-layers-row .form-check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sidebar-base-layers .sidebar-base-layers-row img {
    height: 40px;
    width: 80px;
    margin-right: 0.25rem;
}
