.sidebar-layers label {
    text-transform: capitalize;
    user-select: none;
}

.sidebar-layers .form-check {
    margin-bottom: 8px;
}

.sidebar-layers > .sidebar-layer {
    margin-left: 8px;
}

.sidebar-layer {
    display: flex;
    justify-content: space-between;
}

.sidebar-layer-dropdown .dropdown-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sidebar-layer-dropdown .dropdown-item svg {
    margin-right: 4px;
}

.sidebar-layer-dropdown .card {
    padding: 4px;
}

.sidebar-layer-dropdown .card:after {
    display: none;
}
