.sidebar-layers label {
    text-transform: capitalize;
    user-select: none;
}

.sidebar-layers .form-check {
    margin-bottom: 8px;
}

.sidebar-layers > .sidebar-layer {
    margin-left: 8px;
}

.sidebar-layer {
    display: flex;
    justify-content: space-between;
}

.sidebar-layer-dropdown .card {
    padding: 4px;
}

.sidebar-layer-dropdown .card:after {
    display: none;
}
