.high-contrast {
    color-scheme: contrast;
    --bs-body-color: #ff0;
    --bs-body-bg: #000;
    --bs-emphasis-color: #0ff;
    --bs-link-color: #ff0;
    --bs-link-hover-color: #ff0;
    /* OpenLayers */
    --ol-background-color: #000;
    --ol-subtle-background-color: #ff0;
    --ol-partial-background-color: #000;
    --ol-foreground-color: #ff0;
    --ol-subtle-foreground-color: #ff0;
}

/* Buttons */
.high-contrast .btn-primary,
.high-contrast .btn-danger,
.high-contrast .btn-secondary {
    color-scheme: contrast;
    --bs-btn-color: #ff0;
    --bs-btn-bg: #000;
    --bs-btn-border-color: #ff0;
    --bs-btn-hover-color: #0ff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #0ff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #0ff;
    --bs-btn-active-bg: #000;
    --bs-btn-active-border-color: #0ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ff0;
    --bs-btn-disabled-bg: #000;
    --bs-btn-disabled-border-color: #ff0;
}

/* Checkboxes */
.high-contrast .form-check .form-check-input {
    background-color: #000;
    border-color: #ff0;
}

.high-contrast .form-check .form-check-input:checked {
    background-color: #ff0;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.high-contrast .form-check.form-switch .form-check-input {
    background-color: #000;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e");
}

.high-contrast .form-check.form-switch .form-check-input:checked {
    background-color: #ff0;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
}

.high-contrast .form-check .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 255, 255, 0.5);
}

/* Others */
.high-contrast .border-primary {
    border-color: #0ff !important;
}
